* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-family: 'Playfair Display', serif;
}

img {
    max-width: 100%;
}