.row {
    display: flex;
    margin: 0 -2rem;
    
    &--align-end {
        align-items: flex-end;
    }

    &__col-1-of-2 {
        flex: 0 0 50%;
    }

    &__col-1-of-3 {
        flex: 0 0 33.333%;
    }

    &__col-2-of-3 {
        flex: 0 0 66.667%;
    }
}
[class^="row__col"] {
    padding: 0 2rem;
}